#card-style {
    position: relative;
     align-content: center
}
.card {
    position: relative;
    width: 50%;
    height: 100%;
    float: left;
    margin: 0px;
    background: rgb(70, 70, 70);
    border: 1px solid rgb(34, 34, 34);
    
}
#info {
    height: 100%;
    width:  100%;
    color: rgb(196, 196, 196);
    /* margin-left: 1em;
    margin-right: 1em; */
}
#img-style {
    float: left;
    width: 100%;
    border-radius: 1.5em;
    padding: 1em;
    

}
h3, h5 {
    color: #26c6c4;

}
button { 
    width: -webkit-fill-available; 
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    color: #FFF;
    font-weight: light;
    border: 1px solid #CCC;
    padding: 5px 15px;
    margin: 1.5em;

}
#container {
    width: 200px;
    margin: auto;
}
#buy {
    /*border-radius*/
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    color: #FFF;
    font-weight: light;
    border: 1px solid #CCC;
    padding: 5px 15px;
}
#select_imc {
    /*border-radius*/
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #FFF;
    font-weight: bold;
    font-size: 16px;
    text-shadow: -1px -1px  3px #666;
    border: 1px solid #CCC;
    padding: 15px 20px;
    background: rgb(98,186,236);
    background: -moz-linear-gradient(top, rgba(98,186,236,1) 0%, rgba(18,128,211,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(98,186,236,1)), color-stop(100%,rgba(18,128,211,1)));
    background: -webkit-linear-gradient(top, rgba(98,186,236,1) 0%,rgba(18,128,211,1) 100%);
    background: -o-linear-gradient(top, rgba(98,186,236,1) 0%,rgba(18,128,211,1) 100%);
    background: -ms-linear-gradient(top, rgba(98,186,236,1) 0%,rgba(18,128,211,1) 100%);
    background: linear-gradient(top, rgba(98,186,236,1) 0%,rgba(18,128,211,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62baec', endColorstr='#1280d3',GradientType=0 );
}
#select_imc:hover {
    background: rgb(55,148,216);
    background: -moz-linear-gradient(top, rgba(55,148,216,1) 0%, rgba(3,81,184,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(55,148,216,1)), color-stop(100%,rgba(3,81,184,1)));
    background: -webkit-linear-gradient(top, rgba(55,148,216,1) 0%,rgba(3,81,184,1) 100%);
    background: -o-linear-gradient(top, rgba(55,148,216,1) 0%,rgba(3,81,184,1) 100%);
    background: -ms-linear-gradient(top, rgba(55,148,216,1) 0%,rgba(3,81,184,1) 100%);
    background: linear-gradient(top, rgba(55,148,216,1) 0%,rgba(3,81,184,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3794d8', endColorstr='#0351b8',GradientType=0 );
}

#select{
    /*border-radius*/
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    color: #FFF;
    font-weight: bold;
    font-size: 16px;
    text-shadow: -1px -1px  3px #666;
    border: 1px solid #CCC;
    padding: 5px 10px;
    background: rgb(98,186,236);
    background: -moz-linear-gradient(top, rgba(98,186,236,1) 0%, rgba(18,128,211,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(98,186,236,1)), color-stop(100%,rgba(18,128,211,1)));
    background: -webkit-linear-gradient(top, rgba(98,186,236,1) 0%,rgba(18,128,211,1) 100%);
    background: -o-linear-gradient(top, rgba(98,186,236,1) 0%,rgba(18,128,211,1) 100%);
    background: -ms-linear-gradient(top, rgba(98,186,236,1) 0%,rgba(18,128,211,1) 100%);
    background: linear-gradient(top, rgba(98,186,236,1) 0%,rgba(18,128,211,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#62baec', endColorstr='#1280d3',GradientType=0 );
}
#select:hover {
    background: rgb(55,148,216);
    background: -moz-linear-gradient(top, rgba(55,148,216,1) 0%, rgba(3,81,184,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(55,148,216,1)), color-stop(100%,rgba(3,81,184,1)));
    background: -webkit-linear-gradient(top, rgba(55,148,216,1) 0%,rgba(3,81,184,1) 100%);
    background: -o-linear-gradient(top, rgba(55,148,216,1) 0%,rgba(3,81,184,1) 100%);
    background: -ms-linear-gradient(top, rgba(55,148,216,1) 0%,rgba(3,81,184,1) 100%);
    background: linear-gradient(top, rgba(55,148,216,1) 0%,rgba(3,81,184,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3794d8', endColorstr='#0351b8',GradientType=0 );
}
button {
    background: rgb(101,175,232);
    background: -moz-linear-gradient(top, rgba(101,175,232,1) 0%, rgba(49,113,193,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(101,175,232,1)), color-stop(100%,rgba(49,113,193,1)));
    background: -webkit-linear-gradient(top, rgba(101,175,232,1) 0%,rgba(49,113,193,1) 100%);
    background: -o-linear-gradient(top, rgba(101,175,232,1) 0%,rgba(49,113,193,1) 100%);
    background: -ms-linear-gradient(top, rgba(101,175,232,1) 0%,rgba(49,113,193,1) 100%);
    background: linear-gradient(top, rgba(101,175,232,1) 0%,rgba(49,113,193,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#65afe8', endColorstr='#3171c1',GradientType=0 );
}
button:hover {
    /*border-radius*/
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    color: #FFF;
    font-weight: 500;
    -webkit-box-shadow: 0px 0px 5px #CCC;
    -moz-box-shadow: 0px 0px 5px #CCC;
    box-shadow: 0px 0px 5px #CCC;
    padding: 5px 15px;
    position: relative;
    background: rgb(62, 204, 229);
    background: -moz-linear-gradient(top, rgba(62,204,229,1) 0%, rgba(23,103,202,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(62,204,229,1)), color-stop(100%,rgba(23,103,202,1)));
    background: -webkit-linear-gradient(top, rgba(62,204,229,1) 0%,rgba(23,103,202,1) 100%);
    background: -o-linear-gradient(top, rgba(62,204,229,1) 0%,rgba(23,103,202,1) 100%);
    background: -ms-linear-gradient(top, rgba(62,204,229,1) 0%,rgba(23,103,202,1) 100%);
    background: linear-gradient(top, rgba(62,204,229,1) 0%,rgba(23,103,202,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e9ee5', endColorstr='#1767ca',GradientType=0 ); /*box-shadow*/
    -webkit-box-shadow: inset 0 0 3px #666;
    -moz-box-shadow: inset 0 0 3px #666;
    box-shadow: inset 0 0 3px #666;
}


button:active {
    /*border-radius*/
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    color: #FFF;
    font-weight: 500;
    border: 2px solid #B3B3B3;
    padding: 5px 15px;
    position: relative;
    background: rgb(77,162,228);
    /*linear-gradient*/
    background: -webkit-gradient(linear,left top,left bottom,color-stop(rgba(77,162,228,1),0),color-stop(rgba(32,85,154,1),1));
    background: -webkit-linear-gradient(top, rgba(77,162,228,1) 0%, rgba(32,85,154,1) 100%);
    background: -moz-linear-gradient(top, rgba(77,162,228,1) 0%, rgba(32,85,154,1) 100%);
    background: -o-linear-gradient(top, rgba(77,162,228,1) 0%, rgba(32,85,154,1) 100%);
    background: linear-gradient(top, rgba(77,162,228,1) 0%, rgba(32,85,154,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(77,162,228,1)), color-stop(100%,rgba(32,85,154,1)));
    background: -webkit-linear-gradient(top, rgba(77,162,228,1) 0%,rgba(32,85,154,1) 100%);
    background: -moz-linear-gradient(top, rgba(77,162,228,1) 0%,rgba(32,85,154,1) 100%);
    background: -o-linear-gradient(top, rgba(77,162,228,1) 0%,rgba(32,85,154,1) 100%);
    background: linear-gradient(top, rgba(77,162,228,1) 0%,rgba(32,85,154,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4da2e4', endColorstr='#20559a',GradientType=0 );
    /*box-shadow*/
    -webkit-box-shadow: inset 0 0 8px #666;
    -moz-box-shadow: inset 0 0 8px #666;
    box-shadow: inset 0 0 8px #666;
}

#select{
    text-shadow: 1px -1px  1px #fff;
	color:#000;
font-weight:lighter;
	font-size:12px;
background: rgb(188,188,188);
background: -moz-linear-gradient(top, rgba(188,188,188,1) 0%, rgba(229,229,229,1) 5%, rgba(179,179,179,1) 58%, rgba(179,179,179,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(188,188,188,1)), color-stop(5%,rgba(229,229,229,1)), color-stop(58%,rgba(179,179,179,1)), color-stop(100%,rgba(179,179,179,1)));
background: -webkit-linear-gradient(top, rgba(188,188,188,1) 0%,rgba(229,229,229,1) 5%,rgba(179,179,179,1) 58%,rgba(179,179,179,1) 100%);
background: -o-linear-gradient(top, rgba(188,188,188,1) 0%,rgba(229,229,229,1) 5%,rgba(179,179,179,1) 58%,rgba(179,179,179,1) 100%);
background: -ms-linear-gradient(top, rgba(188,188,188,1) 0%,rgba(229,229,229,1) 5%,rgba(179,179,179,1) 58%,rgba(179,179,179,1) 100%);
background: linear-gradient(top, rgba(188,188,188,1) 0%,rgba(229,229,229,1) 5%,rgba(179,179,179,1) 58%,rgba(179,179,179,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bcbcbc', endColorstr='#b3b3b3',GradientType=0 );}
#select:after{
	content:" ▾";
	border-left:1px solid #000;
	margin-top:0px;
	padding-bottom:0px;
    padding-left:5px;}
#select:hover{background: rgb(188,188,188);
background: -moz-linear-gradient(top, rgba(188,188,188,1) 0%, rgba(191,191,191,1) 5%, rgba(137,137,137,1) 58%, rgba(94,94,94,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(188,188,188,1)), color-stop(5%,rgba(191,191,191,1)), color-stop(58%,rgba(137,137,137,1)), color-stop(100%,rgba(94,94,94,1)));
background: -webkit-linear-gradient(top, rgba(188,188,188,1) 0%,rgba(191,191,191,1) 5%,rgba(137,137,137,1) 58%,rgba(94,94,94,1) 100%);
background: -o-linear-gradient(top, rgba(188,188,188,1) 0%,rgba(191,191,191,1) 5%,rgba(137,137,137,1) 58%,rgba(94,94,94,1) 100%);
background: -ms-linear-gradient(top, rgba(188,188,188,1) 0%,rgba(191,191,191,1) 5%,rgba(137,137,137,1) 58%,rgba(94,94,94,1) 100%);
background: linear-gradient(top, rgba(188,188,188,1) 0%,rgba(191,191,191,1) 5%,rgba(137,137,137,1) 58%,rgba(94,94,94,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bcbcbc', endColorstr='#5e5e5e',GradientType=0 );}

/* Code for the second select button, with the tooltip */

/* button:hover { 
    background-color: #cef2f1;
    color: red;
} */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
 .card {
    width: 100%;
 }
}