.header-portfolio {
    color: grey;
    margin-top: 5%;
    /* margin-bottom: 7%; */
}
.wrapper {
    position: relative;
    margin-top: 0px;
}
.link-site {
    margin: 0px;
    position: relative;
}
.container {
    width: 30%;
    display: inline-block;
    margin: 2em;
}
p {
    width: 30%;
    text-emphasis: center;
}
a, a:hover {
    text-decoration: none;
}
.link-apps {
    color: black;
    position: absolute;
    text-align: center;
}
.link-apps:hover {
    color: red;
}

.app-gif {
    margin: 0px;
    width: 50%;
    display: inline-block;
    left: 0px;
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
 .app-gif {
    width: 100vw;
 }
}