.hot {
    color: green;
    text-align: center;
    margin-top: 0px;
    width: 100vw;
}
.container {
    margin: 0px;
    padding: 0px;
}
.img-bckgd {
    /* position: relative; */
}
.home-img {
    width: 100vw;
    position: absolute;
    right: 0;
    z-index: -100;
}   
.logo {
    position: relative;
    z-index: 1;
    text-align: center;
    padding-top: 6%;
    height: 50%;
    width: 38%;
    margin-bottom: 6%;
}