.tech-body {
    padding-bottom: 22.8%;
}

.img-bckgd {
    position: relative;
}
.tech-img {
    width: 100vw;
    position: absolute;
    right: 0;
    z-index: -100;
}
.logo-tech {
    position: relative;
    z-index: 1;
    text-align: center;
    color: #2ef8f5;
    font-weight: 900; 
    font-size: 12vw;
    padding-top: 20%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
.container {
    position: relative;
    width: 100vw; 
    /* padding-top: 15em; */
    padding-bottom: 5em;
}
.title-row {
    border-top: .5em solid #2ef8f5;
    width: 100vw;
    margin: 0px;
    margin-top: 3em;
}
#tech-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: rgb(206, 206, 206);
    width: 30%;
    text-align: center;
    display: inline;
    padding: 1em;
    margin: 0px;
    color: #141414;
}

.effect1 {
    -webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
}

.row {
    text-align: center;
    width: 100vw;
    display: block;
}
.row-one {
    padding-top: 5em;
}
.tech-logo {
    height: 5em;
    margin: 1.5em;
}
/* .mobile-header {
    /* background: #d54c47; */
    /* background-image: url(../../images/mediaBG.jpg);
    padding: 1.5em;
    display: none;
} */ 
/* #name {
    color: black;
    padding-left: 1.5em;
    font-size: 40px;
    padding-top: .2em;
    text-align: right;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
} */
#title {
    padding-top: .4em;
    text-align: right;
    color: rgb(179, 179, 179);
}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
.tech-img, .logo, .logo-tech {
    display: none;
 }
 .mobile-header {
     display: block;
 }
 .tech-body {
    padding-bottom: 0%;
}
}