.nav-page {
    position: absolute;
    background: black;
    width: 100vw;
    height: 100vh;
    text-align: center;
    z-index: 900;
}
.link-body {
    margin-top: 20vh;

}
.link-nav-Home a {
    position: relative;
    color: #2ef8f5;
    margin-top: 50vh;
    text-decoration: none;
    font-size: 1.8em;
}
.link-nav-Home a:hover {
    text-align: center;
    position: relative;
    color: red;
    margin-top: 50vh;
    text-decoration: none;
    font-size: 1.8em;
}
.link-nav-Contact a {
    text-align: center;
    position: relative;
    color: #2ef8f5;
    text-decoration: none;
    font-size: 1.8em;
}
.link-nav-Contact a:hover {
    position: relative;
    color: red;
    text-decoration: none;
    font-size: 1.8em;
}
.button-border {
    position: absolute;
    margin-left: 1.5em;
    margin-top: 1.5em;
    border-radius: 50%;
    width: 4em;
    height: 4em;
    border: 2px solid white;
    z-index: 1000;
}
/* Button hamburger lines */
.button-line-top {
    position: relative;
    margin: auto;
    margin-top: 33%;
    border-radius: 45%;
}
.button-line-center {
    position: relative;
    margin: auto;
    margin-top: .34em;
    border-radius: 45%;
}
.button-line-bottum {
    position: relative;
    margin: auto;
    margin-top: .34em;
    border-radius: 45%;
}
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
 .btn-nav {
    padding: 0em;
 }
}